.shipping {
  color: purple;
  background-color: turquoise;
  padding: 2rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  /* text-align: center; */
  margin: 0 0 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

label {
  width: 100%;
  display: flex;
  align-items: center;
  height: 2rem;
}

input {
  flex-grow: 1;
  margin-left: 1rem;

  border-style: none;
  border-radius: 0.2rem;

  height: 1.5rem;
  padding-left: 0.5rem;
}

input::placeholder {
  color: #b0b0b0;
  text-align: center;
}

button {
  border-style: none;
  border-radius: 0.2rem;

  padding: 0.5rem 1rem;
  font-weight: bold;
}
